@import "../../public/fonts/pecita.scss";
@import "../../public/fonts/inkFree.scss";

$body-font: "Inter", sans-serif;
$heading-font: "Pecita";
$Ink-font: "Ink Free";
$body-primary: #000000;
$white: #ffffff;

$primary: #00da92;
$lighter-primary: #c4e5dc;
$secondary: #12312b;
$darker-secondary: #111817;
$dark-secondary: #141c1a;
$grey: #9e9e9e;
$grey-100: #898989;
$light-primary: #1e1e1e;
$light-blue: #49a8ff;
