@font-face {
    font-family: 'Ink Free';
    src: url('./InkFree.eot');
    src: url('./InkFree.eot?#iefix') format('embedded-opentype'),
        url('./InkFree.woff2') format('woff2'),
        url('./InkFree.woff') format('woff'),
        url('./InkFree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

