@font-face {
    font-family: 'Pecita';
    src: url('./Pecita.eot');
    src: url('./Pecita.eot?#iefix') format('embedded-opentype'),
        url('./Pecita.woff2') format('woff2'),
        url('./Pecita.woff') format('woff'),
        url('./Pecita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}